{% extends "template.html" %}
{% block title %} Par {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h3>
            Multidisciplināra pieeja COVID19 un citu nākotnes   epidēmiju monitorēšanai, kontrolei un ierobežošanai Latvijā
        </h3>
        <p>
            Projekta virsmērķis ir ierobežot Covid-19 infekcijas slimības izplatību un aizsargāt iedzīvotājus, lai, īstenojot inovatīvus augstas gatavības zinātniskus projektus, steidzami atjaunotu ekonomisko darbību un sociāli aktīvu ikdienas dzīvi. 
        </p>
        <p style="width: 100%">
            Sīkāk:
        </p>
        <ul>
            <li>
                <!--Ikona linkam-->
                <a class="" aria-current="" rel="noopener" href="https://www.izm.gov.lv/lv/vpp-covid-19-seku-mazinasanai" style="color: black">VPP</a>
            </li>
            <li>
                <!--Ikona linkam-->
                <a class="" aria-current="" rel="noopener" href="https://www.df.lu.lv/" style="color: black">DF LU</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}