{% extends "template.html" %}
{% block title %} Datu analīzes tests {% endblock %}
{% block content %}
<div class="container" id="bodyBlock">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <form action="/plotSystemData" method="post" class="elikoPlotForm needs-validation" novalidate>
                <div class="form-group">
                    <label class="form-label" for="deploymentVenue">Mērķa vide</label>
                    <select name="deploymentVenue"
                            id="deploymentVenue"
                            class="form-select formSelects"
                            onchange="checkFields()"
                            required>
                        {% for venue in venues %}
                            <option value={{venue["id"]}}>{{ venue["name"] }}</option>
                        {% endfor %}
                    </select><br>
                    <div class="invalid-feedback">
                        Izvēlieties mērķa vidi!
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">Lokalizācijas sistēma</label>
                    <select name="type"
                            id="type"
                            onchange="checkFields()"
                            class="form-select formSelects"
                            required>
                        <option value="Decawave">Decawave</option>
                        <option value="Eliko">Eliko</option>
                    </select><br>
                    <div class="invalid-feedback">
                        Izvēlieties lokalizācijas sistēmu!
                    </div>
                </div>

                <div class="form-group offsetBlock">
                    <label class="form-label" for="offset">Nobīde</label>
                    <input type="number"
                           id="offset"
                           name="offset"
                           class="form-control"><br>
                    <div class="invalid-feedback">
                        Ievadiet vēlamo nobīdi!
                    </div>
                </div>

                <div class="form-group offsetBlock">
                    <label class="form-label" for="zoneId">Zona</label>
                    <select data-placeholder=" "
                            class="form-select chosen-select"
                            id="zoneId"
                            name="zoneId"
                            multiple>
                        <option value=""></option>
                        <option value="A12">A12</option>
                        <option value="B01">B01</option>
                        <option value="C12">C12</option>
                        <option value="D12">D12</option>
                    </select>
                    <div class="invalid-feedback">
                        Izvēlieties zonu vai zonas!
                    </div>

                    <br><button class="btn btn-secondary btn-sm" name="zoneSelect" type="button" onclick="selectAllZones()">Visas</button>
                    <button class="btn btn-secondary btn-sm" name="zoneDelete" type="button" onclick="deselectAllZones()">Nodzēst</button>
                </div>

                <div class="form-group" id="rerenderDeploymentNames">
                    <label class="form-label" for="deploymentName">Izvietošanas nosaukums</label>
                    <select name="deploymentName"
                            id="deploymentName"
                            class="form-select formSelects"
                            required>
                        {% for deployment_name in deployment_names %}
                            <option value={{deployment_name["name"]}}>{{ deployment_name["name"] }}</option>
                        {% endfor %}
                    </select><br>
                    <div class="invalid-feedback">
                        Izvēlieties testēšanas dienas nosaukumu!
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="dateFrom">Datums no</label>
                    <input id="dateFrom"
                           name="dateFrom"
                           class="form-control datepicker"
                           required><br>
                    <div class="invalid-feedback">
                        Izvēlieties datumu no!
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="timeFrom">Laiks no</label>
                    <input id="timeFrom"
                           name="timeFrom"
                           class="form-control timepicker"
                           required><br>
                    <div class="invalid-feedback">
                        Izvēlieties laiku no!
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="dateTo">Datums līdz</label>
                    <input id="dateTo"
                           name="dateTo"
                           class="form-control datepicker"
                           required><br>
                    <div class="invalid-feedback">
                        Izvēlieties datumu līdz!
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="timeTo">Laiks līdz</label>
                    <input id="timeTo"
                           name="timeTo"
                           class="form-control timepicker"
                           required><br>
                    <div class="invalid-feedback">
                        Izvēlieties laiku līdz!
                    </div>
                </div>

                <button class="btn btn-primary btn-sm" name="drawPlot" type="submit">Zīmēt</button>
            </form>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3"></div>
    </div>
</div>
{% endblock %}